@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0B0F1A;
  color: white;
  overflow: hidden; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.75s ease;
}

.shine {
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255,255,255,0.15) 50%,
    transparent 100%
  );
  transform: translateX(-100%);
  animation: shine 4s infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(300%);
  }
}

.group-hover\:animate-shine:hover {
  animation: shine 1s ease;
}